<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2019 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
<data>

  <menuitem
            id="account_debt_collection_root_menu"
            name="A/R Collection"
            parent="account.menu_finance_receivables"
            sequence="9999"
        />

  <menuitem
            id="collection_configuration_menu"
            name="A/R Collections"
            sequence="99"
            parent="account.menu_finance_configuration"
        />


</data>
</openerp>
